.switch-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--shades);
    aspect-ratio: 2/1;
    border-radius: 100px;
    box-shadow:
        inset 2px 2px 4px rgba(0, 0, 0, 0.25),
        inset -2px -2px 4px rgba(255, 255, 255, 0.8);
    padding: 0.2em 0.4rem;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;

}

.switch-container.active {
    background-color: var(--primary-color);
    justify-content: flex-end;
    box-shadow: 1px 1px 15px var(--primary-color);
}

.switch-slider {
    aspect-ratio: 1/1;
    background-color: var(--secondary-color);
    border-radius: 50%;
    height: 90%;
}