.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    box-shadow: 1px 0px 5px var(--shades);
    transition: width 0.25s ease;
}

.sidebar.expanded {
    width: 220px;
}

.sidebar.collapsed {
    width: 80px;
}

.menu {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 3.5rem;
    margin: 0.6rem 0.6rem;
    padding: 0.7rem;
    border-radius: 50%;
    transition: background-color 0.25s ease;
}

.menu:hover {
    cursor: pointer;
    background-color: var(--accents);
}

.pages {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.page {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    color: var(--primary-text);
    background-color: var(--secondary-color);
    transition: opacity 0.25s ease;
}

.page img {
    width: 2.2rem;
}

.page p {
    font-size: 1.1rem;
}

.page img,
.page p {
    transition: transform 0.25s ease;
}

.page.full p {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.page.minimal p {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.page:hover {
    cursor: pointer;
    opacity: 0.75;
}

.page:hover img,
.page:hover p {
    transform: translateX(7px);
}