.activity {
    width: 80%;
    margin-top: 1.5rem;
    border: 1px dashed var(--primary-color);
    border-radius: 10px;
    padding: 1rem 1.2rem;
}

.activity h3 {
    color: var(--primary-text);
}

.apps {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}