@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary-color: #00A676;
  --secondary-color: #F7F9F9;
  --text: #02111B;
  --secondary-text: #3f4045;
  --accents: #c2e3d8;
  --shades: #c4c4c4;
  
  background-color: var(--secondary-color);
  
  font-family: "DM Sans", system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}