@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary-color: #00A676;
  --secondary-color: #F7F9F9;
  --text: #02111B;
  --secondary-text: #3f4045;
  --accents: #c2e3d8;
  --shades: #c4c4c4;
  --item-border: #d9d9d9;
  
  background-color: var(--secondary-color);
  
  font-family: "DM Sans", system-ui, sans-serif;

  --sidebar-expanded-width: 220px;
  --sidebar-collapsed-width: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  width: calc(100vw - var(--sidebar-expanded-width));
  margin-left: var(--sidebar-expanded-width);
  align-items: center;
  transition: margin-left 0.25s ease, width 0.25s ease;
}

.main h2 {
    position: fixed;
    top: -0.6rem;
    right: -0.6rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: -1px 1px 3px var(--shades);
    text-decoration: dashed;
    text-decoration-line: underline;
    padding: 1.1rem 1.5rem 0.7rem 1rem;
    border-radius: 10px;
}

.main.collapsed {
  width: calc(100vw - var(--sidebar-collapsed-width));
  margin-left: var(--sidebar-collapsed-width);
}
